table {
  border: 1px solid #999;
  width: 90%;
  margin: 20px auto;
}

th {
  background-color: #222;
  color: white;
  padding: 10px;
}

td {
  padding: 10px;
  border: 1px solid #ccc;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
